{% load static %}
<!DOCTYPE html>
<html lang="fr">

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <head>
        <meta charset="UTF-8">
<title> OphtalmoSite </title>
    </head>

    <a href="{% url 'ophtalmo_center_index' %}">
        <h1> Site ophtalmologique </h1>
    </a>
    <body>
                  {% block sidebar %}
                   <ul class="sidebar-nav">
                       <li><a href="{% url 'ophtalmo_center_index' %}">Home</a></li>
                       <li><a href="{% url 'ophtalmo_article_index' %}">Blog</a></li>
                       <li><a href="{% url 'ophtalmo_center_index' %}">Annuaire</a></li>
                       <li><a href="{% url 'ophtalmo_center_index' %}">Boutique</a></li>
                   </ul>
                  {% endblock %}
    {% if user.is_authenticated %}
        <p>Bonjour
        {{ user.full_name }}
        </p>
        <a href="{% url 'logout' %}"> Déconnexion</a>
    {% else %}
        <a href="{% url 'login' %}">Connexion</a>
        <a href="{% url 'register' %}">S'inscrire</a>
        <a href="{% url 'password_reset' %}">Mot de Passe oublié ?</a>
    {% endif %}
    
    {% block content %}
        {% endblock %}

    </body>
</html>
